pipeline/PL_multiple_blob_sql.json
{
	"name": "PL_multiple_blob_sql",
	"properties": {
		"activities": [
			{
				"name": "Lookup_control_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DA_Blob_dev_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "config",
							"directory": "metadata",
							"filename": " "
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_active",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_control_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_control_table').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(int(item().is_active), 1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_activity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_active",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_active').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_blob_sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DA_Blob_dev_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": "source",
										"directory": " ",
										"filename": {
											"value": "@item().source_file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Azure_SQL",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().sink_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().sink_table",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}